html,
body {
  color: var(--main-color-maastricht_blue);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  
}

/*body {
  background-image: linear-gradient(to bottom, #00c9ff 0%, #92fe9d 100%), url(https://images.unsplash.com/photo-1502726299822-6f583f972e02);
  background-blend-mode: multiply;
  background-size: cover;
  overflow: hidden;
}
*/