/* ---- COLORS TO BE USED OVER THE ENTIRE APPLICATION ---- */
:root {
  --main-color-vivid_sky_blue: #00e1ff;
  --main-color-heliotrope: #c677ff;
  --main-color-maastricht_blue: #011627;
  --main-color-ruddy: #ff0022;
}
