html,
body {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;

  background-image: linear-gradient(to bottom, #00c9ff 0%, #92fe9d 100%),
    url(https://images.unsplash.com/photo-1502726299822-6f583f972e02);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}
/* ---- SECTIONS ---- */
section.row {
  padding-left: 0;
  padding-right: 0;
}
/* ---- END SECTIONS ---- */
/* ---- MAIN & BOXES ---- */
main {
  padding-top: 50px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
/* ---- END MAIN & BOXES ---- */
