# Avoid the historical of the changes.
.history/

# Avoid node_modules folder.
node_modules/

# Ignoring development and production folders (If need to deploy to Heroku, comment the "dist" line).
.cache
# dist

# Ignoring SCSS compiled files.
*.css.map
*.css
