/* ---- MAIN ---- */
/* ---- 1ST SECTION ---- */
/* ---- END 1ST SECTION ---- */

/* ---- 2ND SECTION ---- */
#main-pop {
  height: 100%;
  width: 100%;
  cursor: url("../../images/icons/pulpo.png"),auto;

}

#main-pop-text {
  font-weight: bold;
  text-align: center;
}
/* ---- END 2ND SECTION ---- */
/* ---- END MAIN ---- */
