/* ---- MAIN ---- */

main {
  position: relative;
  min-height: 69vh;
  padding-bottom: 50px;
}

/* ---- CALENDAR ---- */

#card-container {
  display: none;
}

.calendarTitle {
  font-weight: 700;
  display: block;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#calendar span {
  text-align: center;
  width: 41px;
  height: 42px;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 40px;
  cursor: pointer;
}

.circle {
  border: 1px solid white;
  box-sizing: border-box !important;
  border-radius: 200px !important;
  background-color: white;
  color: black !important;
  font-weight: bold !important;
}

/* ---- END CALENDAR ---- */

/* ---- CARD ---- */

#card {
  text-align: center;
  height: 429px;
}

#pop-or-not {
  margin-top: 15px;
}

#pop-image {
  width: 200px;
  height: 200px;
  margin-top: -0.5%;
  border-radius: 20px;
}

/* ---- END CARD ---- */
/* ---- END MAIN ---- */

/* ---- MEDIA QUERIES ---- */
@media (min-width: 768px) and (max-width: 880px) {
  #calendar span {
    width: 35px;
  }
}

@media (width: 768px) {
  #card {
    height: 452px !important;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  #card {
    height: fit-content;
  }

  #calendar span {
    width: 31px;
  }

  #pop-or-not {
    margin-top: 25px;
  }
}

@media (max-width: 639px) {
  #card {
    margin-top: 8%;
  }
}

@media (max-width: 425px) {
  #card {
    height: fit-content;
  }
}

@media (max-width: 475px) {
  #calendar span {
    width: 38px;
  }
}

@media (max-width: 375px) {
  #calendar span {
    width: 33px;
  }
}
