/* ---- MAIN ---- */

main {
  position: relative;
  min-height: 69vh;
  padding-bottom: 50px;
}

/* ---- 1st SECTION - DESCRIPTION ---- */

#intro {
  text-align: center;
  font-weight: bold;
}

/* ---- END 1st SECTION - DESCRIPTION ---- */

/* ---- 2nd SECTION ---- */

/* ---- COL ---- */

#button-col {
  text-align: center;
  z-index: 1;
  border: none;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

/* ---- END COL ---- */

/* ---- BUTTON ---- */

.buttons {
  border: none;
  background: var(--main-color-maastricht_blue) !important;
  background: var(--main-color-maastricht_blue) !important;
  background: var(--main-color-maastricht_blue) !important;
  background: var(--main-color-maastricht_blue) !important;
  z-index: 1;
  position: relative;
  transition: color 0.4s ease-in-out;
}

.buttons:hover p {
  color: white;
}

.buttons::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--main-color-heliotrope);
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.buttons:hover {
  cursor: pointer;
}

.buttons:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.buttons:focus {
  border: none;
}

/* ---- TEXT ---- */
.text {
  position: relative;
  top: 5px;
  color: var(--main-color-heliotrope);
  font-weight: bold;
  font-size: larger;
}

/* ---- Action Container ----*/

#actions-container {
  height: 250px;
  background: white;
  border: 3px black solid;
  display: flex;
  align-items: flex-end;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
  background: var(--main-color-vivid_sky_blue) !important;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ---- END Action Container ----*/

/* ---- END TEXT ---- */

/* ---- END BUTTON ---- */

/* ---- END 2nd SECTION ---- */

/* ---- END MAIN ---- */

/* ---- MODAL ---- */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 5px solid rgb(196, 190, 190);
  width: 50%;
  /* Could be more or less, depending on screen size */
  color: black;
  border-radius: 20px;
  text-align: center;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  margin-top: 0;
  background-color: var(--main-color-vivid_sky_blue);
  border-radius: 14px 14px 0 0;
  padding: 2%;
}

.modal-content ul {
  list-style: none;
  padding-left: 0;
}

/* ---- END MODAL ---- */

@media (max-width: 525px) {
  .modal-content {
    width: 80%;
    margin-right: 13.9%;
  }
}
